body{
  margin: 0;
  text-align: center;
  background-color: #87CEEB;


}
h1{

    font-family: 'Sacramento', cursive;
}
.top1{
  padding-top: 50px;
  margin: 0;
  position: relative;
}
